* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #050000;
    padding-top: 100px;
  }
  
  .header {
    text-align: center;
    padding: 32px;
    background-color: #050000;
    color: #c51d1e;
    border: none;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two images per row */
    gap: 32px; /* Space between images */
    max-width: 1400px; /* Maximum container width */
    margin: 0 auto; /* Center the gallery */
    padding: 40px 10px;
  }
  
  .gallery img {
    width: 100%;
  }

  .about-text {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    color: #c51d1e;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    flex: 1;
  }

  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 50px auto;
    gap: 40px;
    padding: 20px;
  }
  
  .about-image {
    flex: 1;
    text-align: center;
  }
  
  .about-image img {
    width: auto;
    max-width: 400px;
    height: auto;
  }
  
  .caption {
    color: #7A1718;
    font-size: 0.9rem;
    margin-top: 10px;
    font-style: italic;
  }
  
  .about-content a {
    color: #c51d1e;
    text-decoration: none;
  }
  
  .about-content a:hover {
    text-decoration: underline;
  }

    .header nav a.active {
    font-weight: bold;
    text-decoration: underline;
  }

  nav {
    margin-top: 10px;
  }
  
  nav a {
    color: #c51d1e; /* Link color */
    text-decoration: none; /* Removes underline */
    margin: 0 30px; /* Adds spacing between links */
  }

  nav a:hover {
    text-decoration: underline; /* Adds underline on hover */
  }

  nav a.active {
    color: #c51d1e;
    font-weight: bold; /* Highlights the active link */
    text-decoration: underline; /* Underline the active link */
  }

  nav a.visited {
    color: #c51d1e;
  }