* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #050000;
    padding-top: 100px;
  }
  
  .header {
    text-align: center;
    padding: 32px;
    background-color: #050000;
    color: #c51d1e;
    border: none;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two images per row */
    gap: 32px; /* Space between images */
    max-width: 1400px; /* Maximum container width */
    margin: 0 auto; /* Center the gallery */
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
  }

  .about-content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    color: #fff;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .about-content a {
    color: #c51d1e;
    text-decoration: none;
  }
  
  .about-content a:hover {
    text-decoration: underline;
  }

    .header nav a.active {
    font-weight: bold;
    text-decoration: underline;
  }

  nav {
    margin-top: 10px;
  }
  
  nav a {
    color: #c51d1e; /* Link color */
    text-decoration: none; /* Removes underline */
    margin: 0 15px; /* Adds spacing between links */
  }

  nav a:hover {
    text-decoration: underline; /* Adds underline on hover */
  }

  nav a.active {
    font-weight: bold; /* Highlights the active link */
    text-decoration: underline; /* Underline the active link */
  }